body,
html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

#sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #f9e1c0;
}

#sidebar .header {
    display: flex;
    align-items: center;
    padding: 10px;
}

#sidebar .title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    white-space: nowrap;
}

#sidebar .title span {
    font-size: 24px;
    font-weight: 500;
}

#sidebar .category {
    color: #0081af;
    margin-left: 20px;
}

#sidebar a {
    color: #6290c8;
    text-decoration: none;
}

#sidebar .sidebar-image {
    max-width: 100px;
    height: auto;
}

#article-body {
    background-color: #f9e1c0;
}

#article-column {
    margin: auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
}

#article-column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.article-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 315px;
}

#home-link {
    color: #6290c8;
    text-decoration: none;
    font-size: 20px;
}

#home-link:hover {
    text-decoration: underline;
}
